.owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next{
    span{
        @include styleText($color-blue,$fs-3 + 26,$fw-normal);
        line-height: .6;
    }
    position: absolute;
    top: 32%;
    left: -23px;
    width: 45px;
    height: 45px;
    border-radius: 50% !important;
    background: $color-white-0 !important;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    cursor: pointer;
    opacity: 1;
    &:focus{
        outline: none;
    }
}
.owl-carousel .owl-nav button.owl-next{
    left: unset;
    right: -23px;
}